* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-register {
  width: 600px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 90px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}
